    <!-- loop through each item -->
    <%= content_tag :div, id: "item-#{item.id}" do %>
        <h4> 
        <%= render partial: 'votes/voter', locals: { list: @list, item: item } %>
          <!-- Notice how we create unique id attributes for each item in a list. We later will use this to add and destroy via Ajax -->
            <%= item.description %> &raquo; 
         
                <span class="label label-default pull-right">
                    <%= time_ago_in_words(item.created_at) %> ago
                </span>

        </h4>
    <% end %>
