 <div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3> Uncompleted Items </h3>
    <%= @items.each do |item| %>
     <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
           <%= item.description %>
           <small>
           <%= time_ago_in_words(item.created_at) %>
           </small>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>